VITE_API_URL=your_api_url_here
VITE_APP_MODE=selfhosted         # selfhosted | saas
VITE_CLIENT_ORIGIN=your_host_url
VITE_GOOGLE_API_KEY=your_google_api_key_here
VITE_GOOGLE_CLOUD_PROJECT_NUMBER=google_project_id
